<div class="row justify-content-center" style="padding-top: 4%">
  <div class="col-7">
    <div class="card ">
      <div class="card-header">
        <h5>Add Book</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="bookForm">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputFirstName">Title</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="book.title"
                  name="title"
                  id="exampleInputTitle"
                  aria-describedby="title"
                  placeholder="Enter title"
                  formControlName="title"
                />
              </div>
              <div class="error" *ngIf="bookForm.get('title').invalid">
                Please enter book title
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputlastName">Subtitle</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="subtitle"
                  [(ngModel)]="book.subtitle"
                  name="subtitle"
                  id="exampleInputsubtitle"
                  aria-describedby="subtitle"
                  placeholder="Enter subtitle"
                />
              </div>
              <div class="error" *ngIf="bookForm.get('subtitle').invalid">
                Please enter book sub title
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Author</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="author"
                  [(ngModel)]="book.author"
                  id="exampleInputauthor"
                  aria-describedby="emailHelp"
                  placeholder="Enter author"
                />
              </div>
              <div class="error" *ngIf="bookForm.get('author').invalid">
                Please enter book author
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputpublished">Published</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="published"
                  [(ngModel)]="book.published"
                  id="exampleInputpublished"
                  aria-describedby="published"
                  placeholder="Enter published date"
                />
              </div>
              <div class="error" *ngIf="bookForm.get('published').invalid">
                Please enter book published Date
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputpublisher">publisher</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="publisher"
                  [(ngModel)]="book.publisher"
                  id="exampleInputpublisher"
                  placeholder="publisher"
                />
              </div>
              <div class="error" *ngIf="bookForm.get('publisher').invalid">
                Please enter book publisher
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputconwebsite">Website</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="website"
                  [(ngModel)]="book.website"
                  name="website"
                  id="exampleInputconwebsite"
                  placeholder="website"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputpages">Pages</label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="pages"
                  [(ngModel)]="book.pages"
                  id="exampleInputpages"
                  placeholder="pages"
                />
              </div>

              <div class="error" *ngIf="bookForm.get('pages').invalid">
                Please enter book pages
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleFormdescription">Description</label>
                <textarea
                  [(ngModel)]="book.description"
                  class="form-control"
                  id="exampleFormdescription"
                  rows="3"
                  formControlName="description"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="filePicker.click()"
              >
                Upload image
              </button>
              <input #filePicker type="file" (change)="onImageUpload($event)" />

              <div
                class="image-preview"
                *ngIf="
                  imagePreview &&
                  imagePreview !== '' &&
                  bookForm.get('image').valid
                "
              >
                <img [src]="imagePreview" [alt]="bookForm.value.title" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted text-right">
        <button class="btn btn-primary" (click)="addBookHandle()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
